* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #242526;
    width: 100%;
    /* height: 1300px; */
}
header {
    width: 100%;
    position: fixed;
    background: black;
    height: 70px;
    line-height: 70px;
    z-index: 9;
}
.inner {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
}
.inner .logo {
    font-size: 24px;
    font-weight: 600;
}
.inner .logo a {
    color: #fff;
    text-decoration: none;
}
.drop_one {
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
}
.drop_one li {
    list-style: none;
    padding: 0 20px;
}
.drop_one li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 18px;
}
.drop_one li a:hover {
    background: #242526;
}
.drop_menu {
    position: absolute;
    top: 90px;
    background: black;
    line-height: 65px;
    width: 130px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}
.drop_one li:hover .drop_menu {
    opacity: 1;
    visibility: inherit;
    top: 70px;
}
.mega_drop {
    background: #151515;
    position: absolute;
    width: 100%;
    left: 0;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.drop_one li:hover .mega_drop {
    opacity: 1;
    visibility: inherit;
    top: 70px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mega_menu {
    margin: 0 auto;
    line-height: 45px;
}
.mega_menu li {
    padding: 5px 10px;
}
.mega_menu h4 {
    text-align: center;
    color: #fff;
}
.slider {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 70px;
}
.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #f2f2f2;
}
.card_container {
    background: black;
    position: absolute;
    top: 540px;
    left: 20%;
    width: 60%;
    height: 380px;
}
.card_content {
    background: #020202;
}
.card_content:hover .btn {
    height: 150px;
}
.btn {
    width: 100%;
    height: 0px;
    padding: 10px;
    transition: all .4s ease;
}

.btn button {
    color: #fff;
    background: none;
    border: 0;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}
.btn button:hover {
    color: #020202;
    background: #fff;
}
.card_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 920px;
    width: 100%;
    height: 70px;
    justify-content: center;
    text-align: center;
    /* background: #0c212b; */
    background: #14141493;
}
.title div > a {
    font-size: 40px;
    font-weight: 900;
    color: #a7a7a7;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
.video_container {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 990px;
    display: inline-flex;
    background: black;
}
#player {
    width: 70%;
    height: 100%;
}
.image_main {
    width: 30%;
}
.image_main img {
    display: block;
    object-fit: cover;
    width: 20%;
    height: 100%;
    position: absolute;
    right: 5%;
}